body{
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-position: cover;
    font-family: 'Alumni Sans Pinstripe';

}
*{
    color: aliceblue;
}
.header{
    justify-content: space-between;
}
.info{
    display: flex;
    justify-content: space-evenly;
    margin-left: 70%;
    font-size: 25px;
}
a{
    text-decoration: none;
    border: none;    
}
a:hover{
    font-size: 28px;
    
}
.card, .profile_info, .data{
    border-radius: 10px;
}
.card{
    border: white 1px solid;
    margin: 70px 10%;
    padding: 1%;
    height: 550px;
    display: flex;
}
.profile_info{
    border: white 1px solid;
    height: 100%;
    width: 40%;
    
}
.data{
    border: white 1px solid;
    height: 100%;
    width: 100%;
    margin-left: 10px;
}

